body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 74px;

    min-height: 840px;

    background: linear-gradient(
            180deg,
            #242b33 11.98%,
            rgba(45, 52, 60, 0.38) 51.04%,
            #242b33 92.19%
    ),
    url('/src/app/components/main/img/header/bg.jpg') no-repeat center top;
    background-size: cover;

    @media (max-width: 768px) {
        min-height: unset;
        row-gap: 50px;
    }
}
