<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ОБЛАСНИЙ ЦЕНТР ДЕЗІНФЕКЦІЇ ТА ГІГІЄНИ</title>
    <link rel="stylesheet" href="../main/scss/main.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__content">
            <!-- Логотип компанії -->
            <a href="/" class="logo">
                <img src="img/logo/logo.png" alt="Disinfection">
                <div class="logo-text">
                    <span>Знищення</span>
                    <span>шкідників</span>
                </div>
            </a>

            <!-- Головне меню -->
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item nav__dropdown">
                        <a href="#" class="nav__link">Дезінсекція</a>
                        <ul class="dropdown__menu">
                            <li><a href="#">Знищення тарганів</a></li>
                            <li><a href="#">Знищення клопів</a></li>
                            <li><a href="#">Знищення бліх</a></li>
                            <li><a href="#">Знищення кліщів</a></li>
                            <li><a href="#">Знищення мурах</a></li>
                            <li><a href="#">Знищення ос</a></li>
                            <li><a href="#">Знищення молі</a></li>
                            <li><a href="#">Статті</a></li>
                        </ul>
                    </li>
                    <li class="nav__item nav__dropdown">
                        <a href="#" class="nav__link">Дератизація</a>
                        <ul class="dropdown__menu">
                            <li><a href="#">Знищення щурів</a></li>
                            <li><a href="#">Знищення мишей</a></li>
                        </ul>
                    </li>
                    <li class="nav__item nav__dropdown">
                        <a href="#" class="nav__link">Дезінфекція</a>
                        <ul class="dropdown__menu">
                            <li><a href="#">Боротьба з грибком</a></li>
                        </ul>
                    </li>
                    <li class="nav__item nav__dropdown">
                        <a href="#" class="nav__link">B2B</a>
                    </li>
                </ul>
            </nav>

            <!-- Контактний телефон -->
            <div class="header__contacts">
                <a href="tel:+380730789997" class="phone">
                    <i class="icon-phone"></i> +38 (073) 078-99-97
                </a>
            </div>

            <!-- Вибір мови -->
            <div class="language-switcher">
                <a href="#" class="language-switcher__link language-switcher__link--active">UK</a>
                <a href="#" class="language-switcher__link">RU</a>
            </div>
        </div>
    </div>
</header>
<h1>Дезинфекція</h1>
<a href="#">Link</a>
<div class="header_title">
    <div class="container">
        TITLE
    </div>
</div>
<div class="header_footer">
    <div class="container">
        Address
    </div>
</div>
</body>
</html>